/* Contact 1 ---------------------------------- */
.contact-area-1 {
    padding: 80px;
    border-radius: 15px;
    .contact-thumb {
        margin-right: 26px;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            width: 100%;
        }
    }
}
@include md {
    .contact-area-1 .contact-thumb {
        margin-right: 0px;
    }
    .contact-area-1 {
        padding: 70px;
    }
}
@include sm {
    .contact-area-1 {
        padding: 50px;
    }
}
@include xs {
    .contact-area-1 {
        padding: 30px;
    }
}
/* Contact 2 ---------------------------------- */
.contact-area-2 {
    position: relative;
    .contact-bg-img-1 {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        display: inline-block;
        height: 100%;
        @include lg {
            width: 40%;
        }
        @include md {
            width: 100%;
            position: relative;
            height: 500px;
            top: -80px;
        }
    }
}
.contact-content-wrap {
    padding: 0 120px;
    @include xl {
        padding: 0 80px;
    }
    @include lg {
        padding: 0 50px 0 70px;
    }
    @include md {
        padding: 0 60px 0 60px;
    }
}

/* Contact Page ---------------------------------- */
.contact-info {
    display: flex;
    gap: 20px;
    border-radius: 0px;
    padding: 30px 40px;
    box-shadow: 0px 41.04px 42.48px rgba(0, 0, 0, 0.053);
    border-bottom: 5px solid $theme-color;
    .contact-info_icon {
        flex: none;
    }
    .contact-info_title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 8px;
        color: $title-color;
    }
}
.contact-map-sec {
    height: 100%;
    min-height: 500px;
    iframe {
        height: 100%;
    }
}
@include xs {
    .contact-info {
        padding: 30px;
        display: block;
        .contact-info_icon {
            margin-bottom: 15px;
        }
    }
}