/* project card ---------------------------------- */
.project-tab-btn {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .btn {
        width: 100%;
        background: $smoke-color2;
        border-radius: 30px;
        justify-content: center;
        font-size: 14px;
        font-weight: 800;
        color: $title-color;
        padding: 17.5px 30px;
        &:after {
            background: $theme-color;
        }
        &.active {
            background: $theme-color;
            color: $white-color;
        }
        &:hover {
            color: $white-color;
        }
    }
    @include lg {
        justify-content: center;
        .btn {
            min-width: 200px;
            width: auto;
        }
    }
}
.project-card {
    position: relative;
    .project-card-img {
        img {
            height: 420px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .project-card-details {
        background: $white-color;
        position: absolute;
        bottom: 20px;
        border-left: 5px solid $theme-color;
        padding: 25px 30px;
        border-radius: 0 15px 15px 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        width: 96%;
    }
    .project-card-subtitle {
        margin-bottom: 8px;
        a {
            color: $body-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .project-card-title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
        a {
            color: $title-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &:hover {
        .project-card-details {
            opacity: 1;
            visibility: visible;
            width: 86%;
        }
    }
}

/* project card 02---------------------------------- */
.project-tab-btn.style2 {
    justify-content: center;
    margin-bottom: 55px;
    .btn {
        display: inline-block;
        width: auto;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 30px;
        margin-top: 0;
    }
}
.project-card.style2 {
    .project-card-img img {
        height: auto;
    }
}


/* project details---------------------------------- */
.project-page-single {
    .page-img {
        margin-right: 30px;
        img {
            border-radius: 15px;
            width: 100%;
        }
        @include lg {
            margin-right: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            width: 49%;
            display: inline-block;
            margin-bottom: 40px;
            border-left: 1px solid $border-color;
            padding-left: 30px;
            span {
                font-weight: 500;
            }
            .portfolio-name {
                font-size: 18px;
                font-weight: 700;
                margin-top: 6px;
                margin-bottom: 0;
            }
        }
        @include vxs {
            li {
                padding-left: 0;
                border-left: 0;
            }
        }
    }
}