/* Process area ---------------------------------- */  
.process-card-wrap {
    transition: .4s;
    &:nth-of-type(even) {
        margin-top: 100px;
        .process-card {
            .process-arrow {
                top: 100px;
                right: -34px;
            }
        }
    }
    &:last-child {
        .process-card {
            padding-right: 0;
        }
    }
    @include md {
        text-align: center;
        &:nth-of-type(even) {
            margin-top: 30px;
        }
    }
}
.process-card {
    position: relative;
    text-align: center;
    display: inline-block;
    padding-right: 76px;
    .process-arrow {
        position: absolute;
        right: -24px;
        top: 60px;
    }
    .process-card-icon {
        background: $smoke-color;
        color: $theme-color;
        width: 190px;
        height: 190px;
        font-size: 80px;
        border-radius: 50%;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        position: relative;
        transition: .4s;
        .process-num {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: $white-color;
            background: $theme-color;
            height: 50px;
            width: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
        }
        svg {
            transition: 0.4s;
        }
    }
    .process-card-title {
        font-size: 22px;
        margin-bottom: 0;
    }
    @include lg {
        padding-right: 26px;
    }
    @include md {
        padding-right: 0;
        .process-arrow {
            display: none;
        }
        .process-card-icon {
            margin-bottom: 20px;
        }
    }
    &:hover {
        .process-card-icon {
            svg {
                transform: rotateY(180deg);
            }
        }
    }
}

/* Process area 02---------------------------------- */  
.process-area-2 {
    background-size: auto !important;
    .process-card-wrap:nth-of-type(even) {
        margin-top: auto;
    }
    .process-card-wrap:nth-of-type(even) .process-card .process-arrow {
        right: -6px;
        top: 80px;
    }
}
.process-card.style2 {
    .process-arrow {
        right: -6px;
        top: 80px;
    }
    .process-card-icon {
        svg {
            width: 60px;
        }
        .process-num {
            right: auto;
            left: 0;
        }
    }
}
@include sm {
    .process-area-2 .process-card-wrap:nth-of-type(even) {
        margin-top: 30px;
    }
}
/* Process area 03---------------------------------- */  
.process-area-3 {
    .process-card-wrap:nth-of-type(even) {
        margin-top: 80px;
        &:hover {
            margin-top: 30px;
        }
    }
    .process-card-wrap:nth-of-type(odd) {
        &:hover {
            margin-top: 80px;
        }
    }
}
.process-card.style3 {
    padding: 30px;
    border: 2px solid $border-color;
    transition: .4s;
    border-radius: 15px;
    text-align: left;
    background: $white-color;
    display: block;
    .process-card-icon {
        display: block;
        width: auto;
        height: auto;
        border-radius: 0;
        background: transparent;
        margin-bottom: 33px;
        .process-num {
            font-size: 48px;
            opacity: 0.1;
            color: $title-color;
            background: transparent;
            width: auto;
            position: initial;
            display: block;
            height: auto;
            border-radius: 0;
            margin-bottom: 30px;
        }
    }
    .process-card-title {
        margin-bottom: 10px;
    }
    .process-card-text {
        margin-bottom: 21px;
    }
    .link-btn {
        display: inline-flex;
        align-items: center;
        i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            display: inline-block;
            background: $theme-color;
            color: $white-color;
            margin-left: 18px;
            text-align: center;
        }
        &:before {
            display: none;
        }
    }
    &:hover {
        box-shadow: 0px 41.04px 42.48px rgba(0, 0, 0, 0.053);
        border-color: transparent;
    }
}
@include lg {
    .process-area-3 .process-card-wrap:nth-of-type(even) {
        margin-top: 30px;
    }
    .process-area-3 .process-card-wrap:nth-of-type(odd):hover {
        margin-top: 30px;
    }
}
@include sm {
    .process-card .process-card-title {
        font-size: 20px;
    }
    .process-card.style3 {
        padding: 30px 25px 25px;
    }
}