.subscribe-area-1 {
    padding: 60px;
    margin-top: 80px;
    .title-area.mb-0 .sec-title {
        margin-bottom: -0.4em;
    }
    .sub-title {
        margin-bottom: 3px;
    }
    .sec-title {
        font-size: 40px;
    }
    .newsletter-form {
        width: 570px;
        .form-group {
            margin-bottom: 0;
            input {
                border: 0;
                padding: 0 210px 0 30px;
            }
        }
        .btn {
            right: 0;
            top: 0;
            padding: 20.5px 56px;
            font-size: 14px;
            font-weight: 600;
            &:before, 
            &:after {
                border-top: 29px solid $title-color;
                border-bottom: 28px solid $title-color;
            }
        }
    }
}
@include md {
    .subscribe-area-1 .newsletter-form {
        width: 100%;
    }
}
@include sm {
    .subscribe-area-1 .sub-title {
        margin-bottom: 10px;
    }
    .subscribe-area-1 .sec-title {
        font-size: 34px;
    }
    .subscribe-area-1 .newsletter-form .btn {
        position: relative;
        width: 100%;
        margin-top: 15px;
    }
    .subscribe-area-1 .newsletter-form .form-group input {
        padding: 0 30px;
    }
}
@include xs {
    .subscribe-area-1 {
        padding: 40px;
    }
}