@font-face {
  font-family: "IntreVecini";
  src: url("../fonts/Intrevecini.ttf");
  font-display: swap;
}

:root {
  --background: #f2f2f2;
  --iv-white: #f8fbfa;
  --iv-black: #071200;
  --iv-gray: #41493b;
  --iv-green: #7ef92d;
  --iv-green2: #5dc054;
  --iv-dark-green: #0a2c00;

  --r-background: 242, 242, 242;
  --r-iv-white: 248, 251, 250;
  --r-iv-black: 7, 18, 0;
  --r-iv-gray: 65, 73, 59;
  --r-iv-green: 126, 249, 45;
  --r-iv-green2: 93, 192, 84;
  --r-iv-dark-green: 10, 44, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Lexend", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  color: var(--iv-black);
  background: var(--background);
}

img {
  pointer-events: none;
}

section {
  min-height: 100vh;
  padding: 15rem 9% 2rem;
}

h1 {
  font-family: "IntreVecini", sans-serif;
}

/* ------------------------ Navbar ------------------------ */

header {
  z-index: 100;
  width: 100%;
  position: fixed;
}

.banner {
  background-color: var(--iv-black);
  color: var(--iv-white);
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 9%;
  gap: 1.6rem;
  align-items: center;
}

nav {
  display: flex;
  padding: 1rem 9%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--iv-white);
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.iv-logo {
  height: 7rem;
}

.link-list {
  display: flex;
}

.link-list a {
  color: var(--iv-dark-green);
  font-family: "IntreVecini", cursive;
  font-size: 2.4rem;
}

.link-list a:hover:not(.iv-btn) {
  border-bottom: 2px solid var(--iv-dark-green);
}

.icon {
  width: 1rem;
  height: 1rem;
}

a {
  font-size: 1.6rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

hr {
  color: var(--iv-white);
  border: 1px solid var(--iv-white);
  opacity: 1 !important;
}

.social-icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}

.social-icons svg {
  fill: var(--iv-white);
  width: 2.4rem;
  height: 2.4rem;
  transition: all ease 0.4s;
}

.social-icons svg:hover {
  fill: var(--iv-green);
}

#tiktok-icon {
  width: 1.9rem;
}

#email {
  color: var(--iv-white);
  text-decoration: underline;
}

#email:hover {
  color: var(--iv-green);
}

p {
  font-size: 1.6rem;
}

.iv-btn {
  margin: 1rem;
  display: inline-block;
  padding: 1.5rem 1.5rem;
  background: var(--iv-green);
  border-radius: 1.5rem;
  font-size: 2.4rem;
  color: var(--iv-dark-green);
  font-family: "IntreVecini", cursive;
}

#menu-icon {
  display: none;
}

@media (max-width: 1500px) {
  .link-list {
    display: flex;
    background-color: rgba(10, 44, 0, 0.5);
    backdrop-filter: blur(20px);
    position: fixed;
    inset: 14% 0 0;
    padding-top: 5rem;
    margin: 0 auto;
    flex-direction: column;
    gap: 2.4rem;
  }

  .link-list a:not(.iv-btn) {
    color: var(--iv-white);
  }

  .link-list a:hover:not(.iv-btn) {
    border-bottom: 2px solid var(--iv-white);
  }

  .closed {
    display: none;
  }

  .menu-icon {
    height: 3.6rem;
    width: 3.6rem;
    margin: 0;
  }

  button {
    border-radius: 1rem;
    background: var(--iv-green);
    text-decoration: none;
    padding: 0.6rem;
    margin: 1rem;
    cursor: pointer;
    display: inline-block;
  }
}

@media (min-width: 1501px) {
  .menu-toggle {
    display: none;
  }
}

/* ------------------------ Hero Area ------------------------ */

.hero-section {
  color: var(--iv-white);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(
      to right,
      rgba(var(--r-iv-dark-green), 0.9) 0%,
      rgba(var(--r-iv-dark-green), 0.4) 100%
    ),
    url("../img/hero.jpg");
  background-size: cover;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-section h1 {
  color: var(--iv-white);
  font-size: 5.6rem;
}

.hero-section p {
  font-size: 2.4rem;
}

.iv-btn2 {
  padding: 1.2rem;
  background: var(--iv-white);
  border-radius: 1.5rem;
  font-size: 2.4rem;
  color: var(--iv-dark-green);
  font-family: "IntreVecini", cursive;
  width: fit-content;
}

/* ------------------------ About Section ------------------------ */

.about-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
}

.about-left-side img {
  border-left: 1.6rem solid var(--iv-green);
  padding-left: 2.4rem;
}

.about-title {
  font-size: 2rem;
}

.about-right-side h2 {
  margin-top: 0;
  margin-bottom: 4rem;
}

.about-right-side {
  display: flex;
  flex-direction: column;
  padding-right: 35%;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-list-item {
  display: flex;
  gap: 1.6rem;
}

.about-list-icon {
  flex: none;
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  background: var(--iv-green);
}

.about-list-check {
  fill: var(--iv-white);
  height: 2rem;
}

/* ------------------------ Media Section ------------------------ */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.media-section {
  min-height: auto;
  padding: 0;
  margin-bottom: 15rem;
}

.media-section h3 {
  font-size: 2rem;
  padding-left: 9%;
}

.media-wrapper {
  overflow: hidden;
  padding: 2rem 0;
  background: var(--iv-white);
  position: relative;
  white-space: nowrap;
}

.media-wrapper:before,
.media-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 9%;
  z-index: 2;
}

.media-wrapper:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--iv-white));
}

.media-wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--iv-white));
}

.media-wrapper:hover .media-slider {
  animation-play-state: paused;
}

.media-slider {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.media-slider img {
  width: 14rem;
  margin: 0 6rem;
  transition: transform 0.2s;
}

.media-slider a:hover img {
  transform: scale(1.5);
}

/* ------------------------ Parteneri Section ------------------------ */

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.sponsors-grid img {
  height: 15rem;
}

@media (max-width: 1501px) {
  .sponsors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
  }

  .sponsors-grid img {
    height: 15rem;
    object-fit: cover;
  }
}
