.btn {
    i {
        margin-left: 0px;
        margin-right: 5px;
    }
}
.checklist li i, .checklist li svg {
    margin-left: 10px;
    margin-right: 0;
}
.checklist ul {
    text-align: right;
}

.social-btn.style3 a {
    border-left: 1px solid $border-color;
    padding-left: 15px;
    border-right: 0;
    padding-right: 0;
}
.social-btn.style3 a:last-child {
    border-left: 0;
    padding-left: 0;
}
.slick-dots li {
    margin-left: 8px;
    margin-right: 0;
}
.slick-dots li:last-child {
    margin-left: 0;
}
select, .single-select, .form-control, .form-select, textarea, input {
    direction: ltr;
}