/*about area 1***********************/
.about-thumb {
    position: relative;
    display: inline-block;
    padding-right: 35px;
    margin-right: 50px;
    .about-img-1 {
        margin: 0 30px;
        display: inline-block;
        position: relative;
        &:before,
        &:after {
            content: "";
            position: absolute;
            right: -30px;
            top: 0;
            height: 50%;
            width: 15px;
            background: $theme-color;
        }
        &:after {
            right: auto;
            left: -30px;
            top: auto;
            bottom: 0;
        }
    }
    .about-img-2 {
        position: absolute;
        right: 0;
        bottom: 30px;
    }
    img {
        border-radius: 15px;
    }
}
@include xl {
    .about-thumb {
        margin-right: 0;
    }
}
@media (max-width: 370px) {
    .about-thumb .about-img-2 {
        width: 150px;
    }
}
.about-author {
    display: flex;
    gap: 20px;
    align-items: center;
    img {
        flex: none;
        border-radius: 50%;
    }
    .about-desig {
        font-weight: 500;
        color: $theme-color;
        font-size: 14px;
    }
    .about-name {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 3px;
    }
}
/*skill-feature 1***********************/
.skill-feature {
    &:not(:last-child) {
        margin-bottom: 27px;
    }
    .skill-feature_title {
        font-size: 18px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 15px;
    }
    .progress {
        background: #EFEFEF;
        height: 6px;
        position: relative;
        overflow: visible;
        .progress-bar {
            background: $theme-color;
            border-radius: 10px;
        }
        .progress-value {
            position: absolute;
            top: -38px;
            right: 0;
            font-size: 18px;
            font-weight: 700;
            color: $title-color;
        }
    }
}
@include lg {
    .about-content-wrap.style3 {
        padding-left: 40px;
        .text {
            margin-bottom: 30px;
        }
    }
}
@include md {
    .about-content-wrap.style3 {
        padding-left: 0;
        margin-left: 0;
        border: 0;
        margin-top: 30px;
    }
}
@include sm {
    .about-content-wrap.style3 .title {
        font-size: 26px;
    }
}

/*about area 2***********************/
.about-thumb2 {
    position: relative;
    display: inline-block;
    padding-bottom: 96px;
    .about-img-1 {
        margin: 0 0 0 30px;
        display: inline-block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: -30px;
            top: 0;
            height: 100%;
            width: 15px;
            background: $theme-color;
        }
    }
    .about-img-2 {
        position: absolute;
        left: -50px;
        bottom: 0px;
        border-radius: 15px;
        border: 5px solid $white-color;
        overflow: hidden;
    }
    .about-shape-1 {
        position: absolute;
        right: -30px;
        bottom: 0;
        z-index: -1;
    }
}
.about-list-wrap {
    .about-list-box {
        display: flex;
        gap: 20px;
        &:not(:last-child) {
            margin-bottom: 42px;
        }
        .about-list-icon {
            flex: none;
            font-size: 10px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            color: $white-color;
            background: $theme-color;
        }
        .list-title {
            font-size: 22px;
            margin-bottom: 12px;
        }
        .list-text {
            margin-bottom: 0;
        }
    }
}
@include ml {
    .about-thumb2 {
        margin-right: 30px;
    }
}
@include xl {
    .about-thumb2 .about-img-2 {
        left: 0px;
    }
}
@include lg {
    .about-thumb2 {
        padding-bottom: 200px;
    }
}
@include md {
    .about-thumb2 {
        padding-bottom: 96px;
    }
}
@include vxs {
    .about-thumb2 {
        margin-right: 0;
        .about-img-2 {
            width: 250px;
        }
    }
}

/*about area 3***********************/
.about-thumb3 {
    position: relative;
    padding-left: 130px;
    padding-bottom: 130px;
    padding-right: 40px;
    .about-img-1 {
        display: inline-block;
        border-radius: 15px;
        border: 6px solid $white-color;
        box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.10);
        img {
            border-radius: 10px;
        }
    }
    .about-img-2 {
        position: absolute;
        left: 20px;
        top: 65px;
        border: 5px solid $white-color;
        border-radius: 15px;
        img {
            border-radius: 10px;
        }
    }
    .about-img-3 {
        position: absolute;
        left: -45px;
        bottom: 0;
    }
}
.about-box-wrap {
    background: $smoke-color;
    border-radius: 15px;
    margin-top: 40px;
    padding: 0px 30px 22px;
    .about-box-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: $theme-color;
        border-radius: 5px;
        top: -40px;
        margin-bottom: -15px;
        position: relative;
        transition: 0.4s;
    }
    .about-box-title {
        font-size: 20px;
        margin-bottom: 7px;
        font-weight: 700;
        a {
            color: $title-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .about-box-text {
        margin-bottom: 0;
    }
    &:hover {
        .about-box-icon {
            transform: rotate(360deg);
            border-radius: 30px;
        }
    }
}
@include xl {
    .about-thumb3 .about-img-3 {
        left: 0;
    }
}
@include lg {
    .about-thumb3 {
        padding-bottom: 170px;
        padding-right: 0;
    }
}
@include xs {
    .about-thumb3 {
        padding-left: 100px;
        padding-bottom: 230px;
    }
}
@include vxs {
    .about-thumb3 {
        padding-left: 80px;
        padding-bottom: 210px;
        .about-img-3 {
            margin-right: 40px;
        }
    }
}