/* Blog Card ---------------------------------- */
.post-single,
.blog-card {
    background: transparent;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid $border-color;
    .post-title,
    .blog-title {
        font-weight: 700;
        color: $title-color;
        margin-bottom: 10px;
        a {
            &:hover {
                color: $theme-color;
            }
        }
    }
    .post-img,
    .blog-img {
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 3;
        border-radius: 0;
        img {
            max-width: 100%;
            border-radius: 0;
            transform: scale(1.02);
            transition: 0.4s ease-in-out;
            min-height: 280px;
            object-fit: cover;
        }
    }
    .blog-date {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 65px;
        padding: 5px 10px;
        text-align: center;
        background: $theme-color;
        border-top-left-radius: 15px;
        color: $white-color;
        font-weight: 500;
        line-height: 28px;
    }
    .post-contents,
    .blog-content {
        padding: 30px;
        position: relative;
        z-index: 2;
        transition: 0.4s;
    }
    .post-meta-item,
    .blog-meta {
        a {
            font-size: 16px;
            font-family: $body-font;
            color: $body-color;
            margin-right: 0;         
        }
        i,svg {
            font-size: 14px;
            transition: 0.4s;
        }        
        a:hover {
            color: $theme-color;
            i,svg {
                color: $theme-color;
            }
        }
    }
    .blog-text {
        margin-bottom: -0.3em;
        p {
            margin-bottom: -0.3em;
            font-weight: 300;
            line-height: 26px;
        }
    }
    .blog-bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding: 20px 30px;
        align-items: center;
        .blog-meta {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    &:hover {
        .post-img,
        .blog-img {
            img {
                transform: scale(1.08);
                opacity: .5;
            }
        }
    }
}  
@include xl {
    .post-single .post-title, .post-single .blog-title, .blog-card .post-title, .blog-card .blog-title {
        font-size: 22px;
    }
}
@include xs {
    .post-single .post-contents,
    .blog-card .blog-content {
        padding: 30px;
    }
}
/* Blog Card 2 ---------------------------------- */
.blog-card.style2 {
    .post-contents, 
    .blog-content {
        padding: 25px;
    }
    .blog-bottom {
        padding: 14px 25px;
    }
}
/* Blog Card 3---------------------------------- */
.blog-card.style3 {
    border: 0;
    border-radius: 0;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    .blog-img {
        border-radius: 15px;
        img {
            border-radius: 15px;
            width: 100%;
            opacity: 1;
        }
    }
    .blog-content {
        padding: 0;
        .blog-title {
            font-size: 30px;
            margin-bottom: 16px;
        }
    }
    .post-meta-item, .blog-meta {
        margin-bottom: 24px;
        margin-top: 24px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }
    p {
        margin-bottom: 33px;
    }
}
@include sm {
    .blog-card.style3 .blog-title {
        font-size: 24px;
    }
}
/* Blog Card 4---------------------------------- */
.blog-card.style4 {
    border: 0;
    overflow: hidden;
    .blog-img {
        img {
            width: 100%;
        }
    }
    .blog-content {
        padding: 30px 0 0;
        text-align: center;
        max-width: 278px;
        margin: auto;
    }
    .blog-title {
        font-size: 24px;
        margin-bottom: -0.3em;
    }
}
/* Blog Card 3---------------------------------- */
.blog-area-3 {
    .post-single .post-img img, .post-single .blog-img img, .blog-card .post-img img, .blog-card .blog-img img {
        width: 100%;
    }
}

/* Blog Details---------------------------------- */
.blog-details-area {
    .blog-card {
        &:hover {
            .blog-img img {
                opacity: 1;
            }
        }
    }
    .post-meta-item, .blog-meta {
        margin-bottom: 24px;
        margin-top: 0px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }
    .post-tag-social {
        padding-top: 25px;
        border-top: 1px solid $border-color;
        display: flex;
        padding-bottom: 0;
        .post-tag {
            a {
                padding: 6px 18px 6px 18px;
                margin-right: 10px;
                display: inline-block;
                text-transform: capitalize;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                border-radius: 5px;
                margin-bottom: 5px;
                background: $theme-color;
                color: $white-color;
                &:hover {
                    background: $title-color;
                }
            }
        }
    }
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 57px;
        .nav-holder {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-top: 10px;
            gap: 25px;
            .nav-thumb {
                max-width: 65px;
                border-radius: 4px;
                overflow: hidden;
                width: 100%;
            }
        }
        .nav-title a {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.4375;
            color: $title-color;
            display: block;
            overflow-wrap: anywhere;
            &:hover {
                color: $theme-color;
            }
        }
        .post-thum-nav {
            width: 50%;
            &.nav-previous {
                padding-right: 30px;
            }
            a.nav-label {
                font-size: 15px;
                font-weight: 600;
                display: inline-block;
                color: $title-color;
                span i {
                    margin-right: 5px;
                }
                &:hover {
                    color: $theme-color;
                }
            }
            &.nav-next {
                padding-left: 30px;
                text-align: right;
                a.nav-label span i {
                    margin-left: 5px;
                    margin-right: 0;
                }
                .nav-holder {
                    flex-direction: row-reverse;
                }
            }
        }
        
    }
}
@include xs {
    .blog-details-area .nav-links .post-thum-nav {
        width: auto;
    }
    .blog-details-area .nav-links {
        gap: 20px;
    }
    .blog-details-area .nav-links .post-thum-nav.nav-next {
        padding-left: 0;
        text-align: left;
    }
    .blog-details-area .nav-links .post-thum-nav.nav-next .nav-holder {
        flex-direction: row;
    }
    .blog-details-area .nav-links .nav-holder {
        gap: 15px;
    }
}