.footer-wrapper {
    background: rgba(255, 244, 239, 0.7);
}
.copyright-wrap {
    padding: 15.5px 0;
    border-top: 1px solid #454441;
    .footer-links {
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                border-right: 1px solid $border-color;
                padding-right: 12px;
                margin-right: 10px;
                line-height: normal;
                &:last-child {
                    margin-right: 0;
                    padding-right: 0;
                    border-right: 0;
                }
                a {
                    color: $border-color;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}
.widget-area {
    padding: 80px 0 70px;
}
.copyright-text {
    margin: 0;
    color: $border-color;
    font-weight: 400;
    a {
        color: $white-color;
        &:hover {
            color: $theme-color;
        }
    }
}
.footer-layout1 {
    position: relative;
    .footer-top {
        padding: 120px 0 0px;
        .info-card {
            display: flex;
            padding: 30px 30px 25px;
            background: $theme-color;
            border-radius: 20px;
            gap: 15px;
            .info-card_icon {
                height: 55px;
                width: 55px;
                line-height: 55px;
                background: $white-color;
                color: $theme-color;
                text-align: center;
                border-radius: 50%;
                flex: none
            }
            .info-card_title {
                color: $white-color;
                font-size: 22px;
                margin-bottom: 5px;
            }
            .info-card_text {
                color: $white-color;
                font-weight: 500;
                margin-bottom: 0;
                a {
                    color: $white-color;
                }
            }
        }
    }
    .footer-text,
    .widget-about .about-text {
        color: $white-color;
    }
    .footer-widget .wp-block-search__label, .footer-widget .widget_title {
        color: $white-color;
    }
    .footer-widget.widget_meta a, .footer-widget.widget_pages a, .footer-widget.widget_archive a, .footer-widget.widget_recent_entries a, .footer-widget.widget_categories a, .footer-widget.widget_nav_menu a {
        color: $white-color;
        &:hover {
            color: $theme-color;
        }
    }
    .newsletter-form {
        margin-top: 27px;
    }
}
@include lg {
    .footer-layout1 .footer-top .info-card {
        display: block;
    }
    .footer-layout1 .footer-top .info-card .info-card_icon {
        margin-bottom: 20px;
    }
}
@include md {
    .footer-layout1 .footer-top {
        padding: 80px 0 0px;
    }
    .widget-area {
        padding: 80px 0 30px;
    }
}

/*Footer area 2--------------------------*/
.footer-layout2 {
    background: $white-color;
    .footer-logo {
        position: relative;
        margin-bottom: 70px;
        a {
            padding: 32px 83px;
            border: 1px solid #EDEBE8;
            border-radius: 50%;
            display: inline-block;
            background: $white-color;
            position: relative;
            z-index: 1;
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            height: 1px;
            width: 100%;
            background: #EDEBE8;
        }
    }
    .copyright-wrap {
        padding: 32.75px 0;
    }
}
.footer-contact-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    .footer-contact-icon {
        background: #FFF7F4;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        line-height: 100px;
        text-align: center;
        flex: none;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
            height: 100%;
            width: 100%;
            border: 1px solid $theme-color;
            border-radius: 50%;
            transition: 0.4s;

        }
    }
    .footer-contact-details {
        .title {
            font-size: 16px;
            font-weight: 300;
            font-family: $body-font;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .footer-contact-link,
        .footer-contact-text {
            font-weight: 300;
            margin-bottom: -0.3em;
            color: $body-color;
            display: block;
            a {
                color: $body-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
    &:hover {
        .footer-contact-icon:after {
            left: 0;
            top: 0;
        }
    }
}
@include xs {
    .footer-contact-wrap .footer-contact-icon:after {
        left: 0;
        top: 0;
    }
}
@include vxs {
    .footer-contact-wrap .footer-contact-icon {
        height: 80px;
        width: 80px;
        line-height: 80px;
    }
}
/*Footer area 3--------------------------*/
.footer-layout3 {
    --body-color: #fff;
    background: #363832;
    .widget-about .footer-logo {
        margin-bottom: 42px;
    }
    .footer-widget.widget_meta ul, 
    .footer-widget.widget_pages ul, 
    .footer-widget.widget_archive ul, 
    .footer-widget.widget_recent_entries ul, 
    .footer-widget.widget_categories ul, 
    .footer-widget.widget_nav_menu ul {
        margin-top: -3px;
    }
    .copyright-text {
        font-weight: 300;
        font-size: 16px;
        color: #84847C;
        margin-bottom: -5px;
        a {
            color: #84847C;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid #4B4D49;
        .social-btn {
            display: none;
        }
        .social-link {
            display: flex;
            a {
                width: 100%;
                background: transparent;
                font-size: 22px;
                font-weight: 400;
                font-style: italic;
                font-family: $title-font;
                padding: 38px 30px;
                &:not(:last-child) {
                    border-right: 1px solid #4B4D49;
                }
                &:before, 
                &:after {
                    border-top: 49px solid var(--title-color);
                    border-bottom: 49px solid var(--title-color);
                }
            }
        }
    }
    &.style2 {
        padding: 0px 40px 0px calc(370px + 40px);
        .copyright-wrap {
            border-top: 1px solid #4B4D49;
            .copyright-text {
                margin-bottom: 0;
            }
        }
        .widget-area {
            padding-top: 40px;
        }
        .widget_title {
            color: $white-color;
        }
    }
}
@include xl {
    .footer-layout3 .footer-bottom .social-link a {
        padding: 29px 30px;
        &:before, 
        &:after {
            border-top: 40px solid var(--title-color);
            border-bottom: 40px solid var(--title-color);
        }
    }
}
@include md {
    .footer-layout3.style2 {
        padding: 0px 40px 0px calc(300px + 40px);
    }
}
@include sm {
    .footer-layout3 .footer-bottom .social-link {
        display: none;
    }
    .footer-layout3 .footer-bottom .social-btn {
        display: flex;
        padding: 15px 0;
    }
    .footer-layout3.style2 {
        padding: 0px 30px 0px calc(106px + 30px);
    }
}
@include vxs {
    .footer-layout3.style2 {
        .footer-widget.widget_meta .list-column2, .footer-widget.widget_pages .list-column2, .footer-widget.widget_archive .list-column2, .footer-widget.widget_recent_entries .list-column2, .footer-widget.widget_categories .list-column2, .footer-widget.widget_nav_menu .list-column2 {
            grid-template-columns: repeat(1, 1fr);
        }
        .newsletter-form .btn {
            position: relative;
            right: 0px;
            top: 0px;
            width: 100%;
        }
        .newsletter-form .form-group input {
            padding: 0 30px;
        }
    }
}